In [47]:
import pandas as pd
import numpy as np

In [48]:
train = pd.read_csv("C:/Users/Acer/Desktop/ML Projects and Kaggle/kaggle- abalones/train.csv")
test = pd.read_csv("C:/Users/Acer/Desktop/ML Projects and Kaggle/kaggle- abalones/test.csv")

In [49]:
train.head()

,id,Sex,Length,Diameter,Height,Whole weight,Whole weight.1,Whole weight.2,Shell weight,Rings
0,0,F,0.550,0.430,0.150,0.7715,0.3285,0.1465,0.2400,11
1,1,F,0.630,0.490,0.145,1.1300,0.4580,0.2765,0.3200,11
2,2,I,0.160,0.110,0.025,0.0210,0.0055,0.0030,0.0050,6
3,3,M,0.595,0.475,0.150,0.9145,0.3755,0.2055,0.2500,10
4,4,I,0.555,0.425,0.130,0.7820,0.3695,0.1600,0.1975,9

In [50]:
test.head()

,id,Sex,Length,Diameter,Height,Whole weight,Whole weight.1,Whole weight.2,Shell weight
0,90615,M,0.645,0.475,0.155,1.2380,0.6185,0.3125,0.3005
1,90616,M,0.580,0.460,0.160,0.9830,0.4785,0.2195,0.2750
2,90617,M,0.560,0.420,0.140,0.8395,0.3525,0.1845,0.2405
3,90618,M,0.570,0.490,0.145,0.8740,0.3525,0.1865,0.2350
4,90619,I,0.415,0.325,0.110,0.3580,0.1575,0.0670,0.1050

In [51]:
import statsmodels.api as sm

In [52]:
y1 = train['Rings']
X = train[['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Whole weight.1', 'Whole weight.2', 'Shell weight']] ## dropped id as well

In [53]:
X.describe()  ### no missing values

,Length,Diameter,Height,Whole weight,Whole weight.1,Whole weight.2,Shell weight
count,90615.000000,90615.000000,90615.000000,90615.000000,90615.000000,90615.000000,90615.000000
mean,0.517098,0.401679,0.135464,0.789035,0.340778,0.169422,0.225898
std,0.118217,0.098026,0.038008,0.457671,0.204428,0.100909,0.130203
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500
25%,0.445000,0.345000,0.110000,0.419000,0.177500,0.086500,0.120000
50%,0.545000,0.425000,0.140000,0.799500,0.330000,0.166000,0.225000
75%,0.600000,0.470000,0.160000,1.067500,0.463000,0.232500,0.305000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000

In [54]:
X.info()  ## Sex is an object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90615 entries, 0 to 90614
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             90615 non-null  object
 1   Length          90615 non-null  float64
 2   Diameter        90615 non-null  float64
 3   Height          90615 non-null  float64
 4   Whole weight    90615 non-null  float64
 5   Whole weight.1  90615 non-null  float64
 6   Whole weight.2  90615 non-null  float64
 7   Shell weight    90615 non-null  float64
dtypes: float64(7), object(1)
memory usage: 5.5+ MB

In [55]:
X['Sex'].describe()

count     90615
unique        3
top           I
freq      33093
Name: Sex, dtype: object

In [56]:
X['Sex'] = X['Sex'].map({'M': 0, 'F': 1, 'I': 2})

C:\Users\Acer\AppData\Local\Temp\ipykernel_21060\3765846439.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Sex'] = X['Sex'].map({'M': 0, 'F': 1, 'I': 2})

In [57]:
X.head()

,Sex,Length,Diameter,Height,Whole weight,Whole weight.1,Whole weight.2,Shell weight
0,1,0.550,0.430,0.150,0.7715,0.3285,0.1465,0.2400
1,1,0.630,0.490,0.145,1.1300,0.4580,0.2765,0.3200
2,2,0.160,0.110,0.025,0.0210,0.0055,0.0030,0.0050
3,0,0.595,0.475,0.150,0.9145,0.3755,0.2055,0.2500
4,2,0.555,0.425,0.130,0.7820,0.3695,0.1600,0.1975

In [58]:
X1 = sm.add_constant(X)

In [59]:
model = sm.OLS(y1,X1).fit()

In [60]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Rings   R-squared:                       0.603
Model:                            OLS   Adj. R-squared:                  0.603
Method:                 Least Squares   F-statistic:                 1.723e+04
Date:                Wed, 24 Apr 2024   Prob (F-statistic):               0.00
Time:                        16:44:01   Log-Likelihood:            -1.9140e+05
No. Observations:               90615   AIC:                         3.828e+05
Df Residuals:                   90606   BIC:                         3.829e+05
Df Model:                           8
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const              3.6008      0.059     60.697      0.000       3.485       3.717
Sex               -0.2929      0.010    -30.522      0.000      -0.312      -0.274
Length            -2.2761      0.402     -5.660      0.000      -3.064      -1.488
Diameter           8.6658      0.499     17.376      0.000       7.688       9.643
Height            21.7004      0.488     44.459      0.000      20.744      22.657
Whole weight       3.8128      0.121     31.562      0.000       3.576       4.050
Whole weight.1   -16.0019      0.150   -106.443      0.000     -16.297     -15.707
Whole weight.2    -6.6052      0.294    -22.435      0.000      -7.182      -6.028
Shell weight      20.8756      0.218     95.544      0.000      20.447      21.304
==============================================================================
Omnibus:                    29927.719   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           195130.808
Skew:                           1.435   Prob(JB):                         0.00
Kurtosis:                       9.592   Cond. No.                         176.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [61]:
coefficients = model.params
p_values = model.pvalues

In [62]:
print(p_values)

const              0.000000e+00
Sex               1.435682e-203
Length             1.519312e-08
Diameter           1.617562e-67
Height             0.000000e+00
Whole weight      1.878442e-217
Whole weight.1     0.000000e+00
Whole weight.2    3.605990e-111
Shell weight       0.000000e+00
dtype: float64

In [63]:
print(p_values < 0.05)

const             True
Sex               True
Length            True
Diameter          True
Height            True
Whole weight      True
Whole weight.1    True
Whole weight.2    True
Shell weight      True
dtype: bool

### yeah, so all variables are signigficant

In [64]:
X_test = test.drop('id', axis = 1)

In [65]:
X_test = test[['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Whole weight.1', 'Whole weight.2', 'Shell weight']] ## dropped id as well
X_test['Sex'] = X_test['Sex'].map({'M': 0, 'F': 1, 'I': 2})

C:\Users\Acer\AppData\Local\Temp\ipykernel_21060\3932777788.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['Sex'] = X_test['Sex'].map({'M': 0, 'F': 1, 'I': 2})

In [66]:
X_test

,Sex,Length,Diameter,Height,Whole weight,Whole weight.1,Whole weight.2,Shell weight
0,0,0.645,0.475,0.155,1.2380,0.6185,0.3125,0.3005
1,0,0.580,0.460,0.160,0.9830,0.4785,0.2195,0.2750
2,0,0.560,0.420,0.140,0.8395,0.3525,0.1845,0.2405
3,0,0.570,0.490,0.145,0.8740,0.3525,0.1865,0.2350
4,2,0.415,0.325,0.110,0.3580,0.1575,0.0670,0.1050
...,...,...,...,...,...,...,...,...
60406,2,0.345,0.260,0.085,0.1775,0.0735,0.0265,0.0500
60407,1,0.525,0.410,0.145,0.8445,0.3885,0.1670,0.2050
60408,2,0.590,0.440,0.155,1.1220,0.3930,0.2000,0.2650
60409,1,0.660,0.525,0.190,1.4935,0.5885,0.3575,0.4350
60410,1,0.430,0.340,0.120,0.4150,0.1525,0.0910,0.0905

In [67]:
X_test1 = sm.add_constant(X_test)

In [68]:
y_test_pred1 = model.predict(X_test1)

In [69]:
y_test_pred1

0         8.644649
1        10.121065
2        10.366021
3        11.061882
4         7.867913
           ...
60406     6.696754
60407     8.992106
60408    11.048821
60409    13.475149
60410     8.309804
Length: 60411, dtype: float64

In [70]:
y_test_pred1 = np.rint(y_test_pred1)    ### converting to integers

In [71]:
y_test_pred1

0         9.0
1        10.0
2        10.0
3        11.0
4         8.0
         ...
60406     7.0
60407     9.0
60408    11.0
60409    13.0
60410     8.0
Length: 60411, dtype: float64

In [72]:
y_test_pred1.to_excel('ytest1.xlsx', index=False)

In [73]:
pred1 = pd.read_csv("C:/Users/Acer/Desktop/ML Projects and Kaggle/kaggle- abalones/Prediction 1.csv")

In [74]:
pred1

           id  Rings
0       90615      9
1       90616     10
2       90617     10
3       90618     11
4       90619      8
...       ...    ...
60406  151021      7
60407  151022      9
60408  151023     11
60409  151024     13
60410  151025      8

[60411 rows x 2 columns]

## a couple of values were -1, I manually changed them to 1

In [75]:
X        ## this is my train dataset

,Sex,Length,Diameter,Height,Whole weight,Whole weight.1,Whole weight.2,Shell weight
0,1,0.550,0.430,0.150,0.7715,0.3285,0.1465,0.2400
1,1,0.630,0.490,0.145,1.1300,0.4580,0.2765,0.3200
2,2,0.160,0.110,0.025,0.0210,0.0055,0.0030,0.0050
3,0,0.595,0.475,0.150,0.9145,0.3755,0.2055,0.2500
4,2,0.555,0.425,0.130,0.7820,0.3695,0.1600,0.1975
...,...,...,...,...,...,...,...,...
90610,0,0.335,0.235,0.075,0.1585,0.0685,0.0370,0.0450
90611,0,0.555,0.425,0.150,0.8790,0.3865,0.1815,0.2400
90612,2,0.435,0.330,0.095,0.3215,0.1510,0.0785,0.0815
90613,2,0.345,0.270,0.075,0.2000,0.0980,0.0490,0.0700
90614,2,0.425,0.325,0.100,0.3455,0.1525,0.0785,0.1050

In [80]:
X_train = X

In [81]:
X_test

,Sex,Length,Diameter,Height,Whole weight,Whole weight.1,Whole weight.2,Shell weight
0,0,0.645,0.475,0.155,1.2380,0.6185,0.3125,0.3005
1,0,0.580,0.460,0.160,0.9830,0.4785,0.2195,0.2750
2,0,0.560,0.420,0.140,0.8395,0.3525,0.1845,0.2405
3,0,0.570,0.490,0.145,0.8740,0.3525,0.1865,0.2350
4,2,0.415,0.325,0.110,0.3580,0.1575,0.0670,0.1050
...,...,...,...,...,...,...,...,...
60406,2,0.345,0.260,0.085,0.1775,0.0735,0.0265,0.0500
60407,1,0.525,0.410,0.145,0.8445,0.3885,0.1670,0.2050
60408,2,0.590,0.440,0.155,1.1220,0.3930,0.2000,0.2650
60409,1,0.660,0.525,0.190,1.4935,0.5885,0.3575,0.4350
60410,1,0.430,0.340,0.120,0.4150,0.1525,0.0910,0.0905

In [82]:
from sklearn.linear_model import ElasticNet
from sklearn.metrics import mean_squared_error, accuracy_score

In [83]:
EN = ElasticNet(alpha = 0.1 , l1_ratio = 0.5, random_state = 10)

In [85]:
y_train = y1

In [86]:
EN.fit(X_train, y1)

ElasticNet(alpha=0.1, random_state=10)

In [87]:
y_train_pred = EN.predict(X_train)

In [91]:
y_train_pred

array([ 9.68399457, 10.65684278,  6.87473645, ...,  7.72897108,
        7.40149542,  7.80536512])

In [92]:
y_train_pred =  np.rint(y_train_pred)

In [93]:
print(accuracy_score(y_train_pred, y_train))

0.20456878000331072

In [94]:
y_test_pred = EN.predict(X_test)

In [95]:
y_test_pred = np.rint(y_test_pred)

In [96]:
y_test_pred

array([12., 11., 11., ..., 10., 12.,  9.])

In [97]:
y_test_pred1.to_excel('ytest2.xlsx', index=False)