In [138]:
import pandas as pd
import numpy as np

In [139]:
train = pd.read_csv("C:/Users/Acer/Desktop/kaggle competitions/space titanic/train.csv", header = 0)
test = pd.read_csv("C:/Users/Acer/Desktop/kaggle competitions/space titanic/test.csv", header = 0)

In [140]:
# Selecting only those columns which are relevant as per a earlier test that I did
train_ = train[['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'RoomService',
                'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']]

test_ = test[['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'RoomService',
              'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']]

y1 = train['Transported']

In [141]:
train_.describe()

        RoomService     FoodCourt  ShoppingMall           Spa        VRDeck
count   8512.000000   8510.000000   8485.000000   8510.000000   8505.000000
mean     224.687617    458.077203    173.729169    311.138778    304.854791
std      666.717663   1611.489240    604.696458   1136.705535   1145.717189
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%       47.000000     76.000000     27.000000     59.000000     46.000000
max    14327.000000  29813.000000  23492.000000  22408.000000  24133.000000

In [142]:
len(train_['RoomService'])     ## total of 8693 data points

8693

In [143]:
len(test_['RoomService'])  ## 4277

4277

In [144]:
for column, dtype in train_.dtypes.items():
    print(f"Column: {column}, Data Type: {dtype}")

Column: HomePlanet, Data Type: object
Column: CryoSleep, Data Type: object
Column: Cabin, Data Type: object
Column: Destination, Data Type: object
Column: RoomService, Data Type: float64
Column: FoodCourt, Data Type: float64
Column: ShoppingMall, Data Type: float64
Column: Spa, Data Type: float64
Column: VRDeck, Data Type: float64

In [145]:
catv = ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination']
numv = ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']

In [146]:
# Calculate the mean for each numerical column
mean1 = train_[numv].mean()
mean2 = test_[numv].mean()
# Replace missing values with the mean
train_[numv] = train_[numv].fillna(mean1)
test_[numv] = test_[numv].fillna(mean2)

C:\Users\Acer\AppData\Local\Temp\ipykernel_12808\3788458171.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_[numv] = train_[numv].fillna(mean1)
C:\Users\Acer\AppData\Local\Temp\ipykernel_12808\3788458171.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_[numv] = test_[numv].fillna(mean2)

In [147]:
train_.describe()

        RoomService     FoodCourt  ShoppingMall           Spa        VRDeck
count   8693.000000   8693.000000   8693.000000   8693.000000   8693.000000
mean     224.687617    458.077203    173.729169    311.138778    304.854791
std      659.739364   1594.434978    597.417440   1124.675871   1133.259049
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%       78.000000    118.000000     45.000000     89.000000     71.000000
max    14327.000000  29813.000000  23492.000000  22408.000000  24133.000000

In [148]:
shaka = train_['RoomService'] 
shaka1 = shaka.dropna()
print(len(shaka))
print(len(shaka1))   #### the means are filled - I am still not sure that it is filled with 'mean' like last time
shaka2 = test_['RoomService']
shaka3 = shaka2.dropna()
print(len(shaka2))
print(len(shaka3))

8693
8693
4277
4277

## Categorical variables

In [149]:
catv

['HomePlanet', 'CryoSleep', 'Cabin', 'Destination']

In [150]:
uniq_hp = train_['HomePlanet'].unique()
counts = train_['HomePlanet'].value_counts()
print("HomePlanet:", uniq_hp)
print('counts:', counts)
print("")

uniq_cr = train_['CryoSleep'].unique()
counts = train_['CryoSleep'].value_counts()
print("Crysosleep:", uniq_cr)
print('counts:', counts)
print('')

uniq_cab = train_['Cabin'].unique()
counts = train_['Cabin'].value_counts()
print("Cabin:", uniq_cab)
print('counts:', counts)
print('')

uniq_des = train_['Destination'].unique()
counts = train_['Destination'].value_counts()
print('Destination:', uniq_des)
print('counts:', counts)

HomePlanet: ['Europa' 'Earth' 'Mars' nan]
counts: HomePlanet
Earth     4602
Europa    2131
Mars      1759
Name: count, dtype: int64

Crysosleep: [False True nan]
counts: CryoSleep
False    5439
True     3037
Name: count, dtype: int64

Cabin: ['B/0/P' 'F/0/S' 'A/0/S' ... 'G/1499/S' 'G/1500/S' 'E/608/S']
counts: Cabin
G/734/S     8
G/109/P     7
B/201/P     7
G/1368/P    7
G/981/S     7
           ..
G/556/P     1
E/231/S     1
G/545/S     1
G/543/S     1
F/947/P     1
Name: count, Length: 6560, dtype: int64

Destination: ['TRAPPIST-1e' 'PSO J318.5-22' '55 Cancri e' nan]
counts: Destination
TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: count, dtype: int64

In [151]:
## Cabin column is too much headache - because I am encoding all columns manually
# the reason for this is that label encoding gave me too many errors

### Replacing categorical variables with numbers

In [152]:
mapping = {'Earth': 1, 'Europa': 2, 'Mars': 3  , np.nan: 1}
train_['HomePlanet']  = train_['HomePlanet'].replace(mapping)       ## Homeplanet
test_['HomePlanet']  = test_['HomePlanet'].replace(mapping)

C:\Users\Acer\AppData\Local\Temp\ipykernel_12808\3866139872.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_['HomePlanet']  = train_['HomePlanet'].replace(mapping)       ## Homeplanet
C:\Users\Acer\AppData\Local\Temp\ipykernel_12808\3866139872.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_['HomePlanet']  = test_['HomePlanet'].replace(mapping)

In [153]:
mapping = {True: 1, False: 0, np.nan: 0}       ## cryosleep
train_['CryoSleep']  = train_['CryoSleep'].replace(mapping)  
test_['CryoSleep']  = test_['CryoSleep'].replace(mapping)

C:\Users\Acer\AppData\Local\Temp\ipykernel_12808\1926532873.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_['CryoSleep']  = train_['CryoSleep'].replace(mapping)
C:\Users\Acer\AppData\Local\Temp\ipykernel_12808\1926532873.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_['CryoSleep']  = test_['CryoSleep'].replace(mapping)

In [154]:
mapping = {'TRAPPIST-1e': 1, '55 Cancri e': 2, 'PSO J318.5-22': 3 ,np.nan: 1}       ## Destination
train_['Destination']  = train_['Destination'].replace(mapping) 
test_['Destination']  = test_['Destination'].replace(mapping)

C:\Users\Acer\AppData\Local\Temp\ipykernel_12808\1928955227.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_['Destination']  = train_['Destination'].replace(mapping)
C:\Users\Acer\AppData\Local\Temp\ipykernel_12808\1928955227.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_['Destination']  = test_['Destination'].replace(mapping)

In [131]:
train_

,HomePlanet,CryoSleep,Cabin,Destination,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,2.0,0.0,B/0/P,1.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,F/0/S,1.0,109.0,9.0,25.0,549.0,44.0
2,2.0,0.0,A/0/S,1.0,43.0,3576.0,0.0,6715.0,49.0
3,2.0,0.0,A/0/S,1.0,0.0,1283.0,371.0,3329.0,193.0
4,1.0,0.0,F/1/S,1.0,303.0,70.0,151.0,565.0,2.0
...,...,...,...,...,...,...,...,...,...
8688,2.0,0.0,A/98/P,2.0,0.0,6819.0,0.0,1643.0,74.0
8689,1.0,1.0,G/1499/S,3.0,0.0,0.0,0.0,0.0,0.0
8690,1.0,0.0,G/1500/S,1.0,0.0,0.0,1872.0,1.0,0.0
8691,2.0,0.0,E/608/S,2.0,0.0,1049.0,0.0,353.0,3235.0
8692,2.0,0.0,E/608/S,1.0,126.0,4688.0,0.0,0.0,12.0

In [137]:
test_

,HomePlanet,CryoSleep,Cabin,Destination,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,1.0,1.0,G/3/S,1.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,F/4/S,1.0,0.0,9.0,0.0,2823.0,0.0
2,2.0,1.0,C/0/S,2.0,0.0,0.0,0.0,0.0,0.0
3,2.0,0.0,C/1/S,1.0,0.0,6652.0,0.0,181.0,585.0
4,1.0,0.0,F/5/S,1.0,10.0,0.0,635.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
4272,1.0,1.0,G/1496/S,1.0,0.0,0.0,0.0,0.0,0.0
4273,1.0,0.0,NaN,1.0,0.0,847.0,17.0,10.0,144.0
4274,3.0,1.0,D/296/P,2.0,0.0,0.0,0.0,0.0,0.0
4275,2.0,0.0,D/297/P,1.0,0.0,2680.0,0.0,0.0,523.0
4276,1.0,1.0,G/1498/S,3.0,0.0,0.0,0.0,0.0,0.0

In [132]:
y1 = y1.replace({True: 1, False: 0})
y1

0       0
1       1
2       0
3       0
4       1
       ..
8688    0
8689    0
8690    1
8691    0
8692    1
Name: Transported, Length: 8693, dtype: int64

In [155]:
train_

,HomePlanet,CryoSleep,Cabin,Destination,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,2.0,0.0,B/0/P,1.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,F/0/S,1.0,109.0,9.0,25.0,549.0,44.0
2,2.0,0.0,A/0/S,1.0,43.0,3576.0,0.0,6715.0,49.0
3,2.0,0.0,A/0/S,1.0,0.0,1283.0,371.0,3329.0,193.0
4,1.0,0.0,F/1/S,1.0,303.0,70.0,151.0,565.0,2.0
...,...,...,...,...,...,...,...,...,...
8688,2.0,0.0,A/98/P,2.0,0.0,6819.0,0.0,1643.0,74.0
8689,1.0,1.0,G/1499/S,3.0,0.0,0.0,0.0,0.0,0.0
8690,1.0,0.0,G/1500/S,1.0,0.0,0.0,1872.0,1.0,0.0
8691,2.0,0.0,E/608/S,2.0,0.0,1049.0,0.0,353.0,3235.0
8692,2.0,0.0,E/608/S,1.0,126.0,4688.0,0.0,0.0,12.0

## let us try modelling now

In [157]:
train1 = train_.drop('Cabin', axis = 1)
train1

,HomePlanet,CryoSleep,Destination,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,109.0,9.0,25.0,549.0,44.0
2,2.0,0.0,1.0,43.0,3576.0,0.0,6715.0,49.0
3,2.0,0.0,1.0,0.0,1283.0,371.0,3329.0,193.0
4,1.0,0.0,1.0,303.0,70.0,151.0,565.0,2.0
...,...,...,...,...,...,...,...,...
8688,2.0,0.0,2.0,0.0,6819.0,0.0,1643.0,74.0
8689,1.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0
8690,1.0,0.0,1.0,0.0,0.0,1872.0,1.0,0.0
8691,2.0,0.0,2.0,0.0,1049.0,0.0,353.0,3235.0
8692,2.0,0.0,1.0,126.0,4688.0,0.0,0.0,12.0

In [159]:
test1 = test_.drop('Cabin', axis = 1)
test1

,HomePlanet,CryoSleep,Destination,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,9.0,0.0,2823.0,0.0
2,2.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0
3,2.0,0.0,1.0,0.0,6652.0,0.0,181.0,585.0
4,1.0,0.0,1.0,10.0,0.0,635.0,0.0,0.0
...,...,...,...,...,...,...,...,...
4272,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4273,1.0,0.0,1.0,0.0,847.0,17.0,10.0,144.0
4274,3.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0
4275,2.0,0.0,1.0,0.0,2680.0,0.0,0.0,523.0
4276,1.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0

In [160]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
logit = LogisticRegression()

In [161]:
logit.fit(train1, y1)

C:\Users\Acer\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [163]:
y_train_pred = logit.predict(train1)
print(accuracy_score(y_train_pred, y1))         ### 78.8% accuracy with Logistic Regression

0.7884504773956057

In [165]:
y_test_pred_lr = logit.predict(test1)
print(y_test_pred_lr)

[ True False  True ...  True  True  True]

## Saving first prediction locally on device

In [168]:
df_predictions = pd.DataFrame({'Prediction': y_test_pred_lr})
# Save the DataFrame to an Excel file
df_predictions.to_csv('LogisticRegressionSpaceTitanic.csv', index=False)  # Customize the filename